<div class="container mt-4">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh7MVyhGnqjAAKI0pzVBY2VQv56enKhvfouw&s"
          class=""
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

  <div class="flex justify-center">
    <div
      class="border-gray-700 w-72 mx-2 shadow-lg rounded-md bg-gray-200"
      *ngFor="let listing of listings"
    >
      <div class="flex flex-wrap justify-center">
        <img [src]="listing.image" class="rounded-md p-1" alt="..." />
        <div class="p-2 text-sm">
          <h5 class="">{{ listing.title }}</h5>
          <p class="">{{ listing.description }}</p>
          <button class="bg-orange-600 text-white p-1 rounded-md mx-1">
            View Details
          </button>
          <button class="bg-orange-600 text-white p-1 rounded-md">
            Add to Favorites
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
